
EV2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
EV2/.metadata/.log
*.ini
EV2/.metadata/.log
EV2/.metadata/.log
EV2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
EV2/.metadata/version.ini
